
@*
    the component will use the browser’s current URL to locate a Razor Component
    that can be displayed to the user. If no matching
    component can be found, then an error message is displayed.*@

<Router AppAssembly="typeof(Startup).Assembly">
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(AdminLayout)" />
    </Found>
    <NotFound>
        <h4 class="bg-danger text-white text-center p-2">
            No Matching Route Found
        </h4>
    </NotFound>
</Router>